[2012-06-01 23:19] fwenzel opened #2 "Don't have two branches gh-pages and master"
It seems silly that we have to maintain two branches (gh-pages and master). Will it suffice to just have gh-pages and just make that the main branch?

[2012-06-01 23:28] fwenzel opened #3 "Replace screenshots for slidebox and remove disclaimer"
The disclaimer under the slidebox demo seems unnecessary overhead. Should we just use some Mozilla-themed photos and avoid the whole disclaimer thing?

[2012-06-01 23:29] fwenzel opened #4 "Slidebox demo has multiple previous/next buttons"
Not sure what's up with that.

[2012-06-01 23:29] fwenzel commented on #4
oh, seems fixed, ha

[2012-06-01 23:29] #4 closed, assigned to nobody

[2012-06-01 23:29] fwenzel opened #5 "Fix "untyle" (sic) typo everywhere"
It shows up a few times, presumably due to copy and paste.

[2012-06-02 00:35] csuwildcat commented on #5
fixed

[2012-06-02 00:35] #5 closed, assigned to nobody

[2012-06-02 00:36] csuwildcat commented on #5
fixed in gh-pages

[2012-06-02 00:44] csuwildcat commented on #3
Feel free to remove it from any repo copy we make for Mozilla. I prefer to leave it in my personal branch as a f**\* you to the company (MetaLab) that used a proven lie to try and snag publicity on TechCrunch and personally character assassinate me. (not sure if you remember when all that happened)

Petty? Maybe. Deserving? Absolutely.

[2012-06-02 00:44] fwenzel opened #6 "Autocomplete broken"
Another one that might already be known: The autocomplete tag seems to be broken, and it spits out a lot of console.log :)

[2012-06-02 00:48] csuwildcat commented on #3
Ugg, someone checked in a bug, give me a sec and I'll have it fixed :(

[2012-06-02 00:50] csuwildcat commented on #3
Hmm, not seeing it broken on the live page... http://csuwldcat.github.com/x-tag/demo.html

[2012-06-02 00:53] csuwildcat commented on #3
Should be fixed now.

[2012-06-02 02:37] fwenzel commented on #3
Heh, all right.

[2012-06-02 03:55] csuwildcat commented on #3
The last 4 comments are not for this ticket, Github posted those comments that were intended for the other bug to this one. The other issue is fixed, I'm leaving this one as is.

[2012-06-02 04:29] csuwildcat commented on #3
I toned it down, just for you Fred, lol ;)

[2012-06-02 04:29] #3 closed, assigned to nobody

[2012-06-02 04:29] fwenzel commented on #3
Yea that's what I figured.

[2012-06-02 04:29] fwenzel commented on #3
Haha, ALL RIGHT ALL RIGHT :)

[2012-06-10 00:01] will-b opened #7 "Spelling Mistakes"
http://csuwldcat.github.com/x-tag/

How it works
"...This even is fired and processesed..."
[even]
[processesed]

[2012-06-10 05:10] csuwildcat commented on #7
Fixed in master

[2012-06-10 05:10] #7 closed, assigned to nobody

[2012-06-12 04:38] csuwildcat commented on #6
Fixed in master

[2012-06-12 16:18] fwenzel commented on #6
so, we're closing this then? :)

[2012-06-12 16:18] #6 closed, assigned to nobody

[2012-06-18 06:23] twobit opened #15 "License?"
I don't see mention of any particular license for this project. Can you add a LICENSE file of some sort?

[2012-06-19 16:11] sonnyp opened #18 "XML compliance"
Hi,

I think x-tag should be XML compliant whenever the document is a strict XML document. For exemple by using XML namespaces.
Would you merge a such patch?

[2012-06-19 16:25] fwenzel commented on #18
What's the use case?

I'll leave the decision up to dbuc, but I don't think this would be a good chunk of code to maintain in this library. x-tag (the framework/shim as well as the individual components) is, at its core, an HTML5 project, built for HTML5 rendering engines. I would be highly reluctant to tie XML compliance into this and having to maintain this for all components to come.

[2012-06-19 16:26] fwenzel commented on #15
@csuwldcat MPL2, I am thinking? What say you?

[2012-06-19 16:27] csuwildcat commented on #15
Added to README

[2012-06-19 16:27] #15 closed, assigned to pennyfx

[2012-06-19 16:31] csuwildcat commented on #18
What would be the benefit of having an X-Tag output namespaced elements for XML? Also, I just removed the default namepace, so you can just add the namespaced string to the tag name you pass to xtag.register()

[2012-06-19 17:20] #18 closed, assigned to nobody

[2012-06-19 17:24] sonnyp commented on #18
"What's the use case?"
XHTML5 or XUL or whatever XML based UI language.

"and having to maintain this for all components to come."
As far as I know there is no need to edit the components code.

"What would be the benefit of having an X-Tag output namespaced elements for XML?"
Avoid conflicts.

[2012-06-19 17:26] sonnyp commented on #18
The removing of the default "x-" namespace should be enough for making XML compliance possible. I closed the bug.

[2012-06-20 12:55] sonnyp opened #23 "Emit a custom event when xtag has processed the initial DOM tree"
Here is a simple usecase:

[code]

[2012-06-20 13:04] sonnyp commented on #23
By the way, why methods are held within a xtag object?

[2012-06-20 15:18] csuwildcat commented on #23
Are you by chance running into an issue where getters and setters are not having effect? If so, that is actually (IMHO) a bad implementation point of native getters and setters, which X-Tag uses in all browsers. The native getter/setter methods blow away existing values when you attach them to a property. This can lead to what looks like silent failures of the getters and setters if you set or get

[2012-06-20 16:02] csuwildcat opened #27 "Enable the declaritive version of the W3 Web Components Custom Element spec"
Use X-Tag to define the elements specified by the declarative version of the W3 Web Components Custom Element draft: http://www.w3.org/TR/2012/WD-components-intro-20120522/#custom-element-section

[2012-06-20 16:32] fwenzel opened #28 "Replace tabs with spaces."
https://github.com/mozilla/webdev-bootcamp/blob/master/js-style.rst
https://twitter.com/BrendanEich/status/214570379497308160

'nuff said :)

[2012-06-20 16:40] jlongster commented on #28
+1 for this. I know tabs are theoretically better, but practically they just cause problems, and editors handle all the tabbing/backspacing anyway. Spaces are more friendly for everybody.

[2012-06-20 16:41] seanmonstar commented on #28
Eich is crazy.

[2012-06-20 17:06] tofumatt commented on #28
I just came here to agree with @fwenzel.

[2012-06-20 17:08] csuwildcat opened #29 "Figure out a sane way to offer a DOMComponentsLoaded custom event"
People need to know when all the components in the static page source have "loaded". Figure out how to check for it and fire a custom event.

[2012-06-20 17:13] csuwildcat commented on #28
When files use spaces, all people do is desperately try to tweak their editor to treat space like tabs, which I personally find hilarious - figure I'd do 'em one better and use the real McCoy ;)

[2012-06-20 17:17] timw4mail commented on #28
:-1:

Spaces are such a pain to adjust. Tabs can be deleted by tab stop, but spaces must be deleted space by space.

[2012-06-20 17:20] jlongster commented on #28
I don't know many people that try to make spaces treated like tabs. You just follow the coding convention for the project, 2 or 4 spaces, and that's that. There are a bunch of other style rules that you must follow as well (like where to put spaces and parentheses within the code).

[2012-06-20 17:38] tofumatt commented on #28
Most editors make it a snap to use spaces for indentation, including vim, emacs, Sublime Text 2, BBEdit, and TextMate -- which alone covers a lot of web developers.

[2012-06-20 17:57] fwenzel commented on #28
Yeah I have yet to encounter a developer who manually goes through the process of "oh, 4 indentation levels, I must press space 16 times now".

[2012-06-21 01:05] csuwildcat commented on #28
I wrote this up when we started, should help clear things up: https://docs.google.com/document/d/17bvj1fxJ93MX8H3HOpPwYr3si2atAbQkxmsUSsGmRc8/edit

[2012-06-21 01:06] csuwildcat commented on #28
Updated the link, first paste was broken: https://docs.google.com/document/d/17bvj1fxJ93MX8H3HOpPwYr3si2atAbQkxmsUSsGmRc8/edit

[2012-06-22 15:04] matthewp opened #31 "Tag registration requires x- prefix"
the onCreate event will not fire on page load if tags are registered without the x- prefix.  I'm not sure if that is intentional or not, but the informational page (http://mozilla.github.com/x-tag/) shows tags as being registered without the prefix.

[2012-06-22 15:27] matthewp opened #32 "methods vs. getters"
The documentation shows a methods object in registration, but doesn't explain it's purpose.  Any functions placed on this object belong to the xtag object in the element's instance.  I noticed in the examples that these are typically used for actions that you perform from javascript.

Another way of achieving the same things is to set a getter for a function like so:

[code]

What is the reason fo

[2012-06-22 16:54] csuwildcat commented on #32
I feel this would be inappropriately hijacking what getters are intended for, plus, if you were to return a function, you would need to bind a reference to the element on that returned function, or else it is just globally scoped ;)

[2012-06-22 16:54] #32 closed, assigned to nobody

[2012-06-22 16:56] csuwildcat commented on #31
I had removed the requirement for prefixing of tags many days ago, where are you seeing this issue in the code?

[2012-06-22 17:29] matthewp commented on #32
Very good point!

My thinking is that by putting functions on the xtag object you are requiring all consumers of the widget to know about x-tags.

Also, I don't see why data and functions should be in two separate namespaces, but that is just me.  Glad to know how it's supposed to work though, thank you.

[2012-06-22 17:29] matthewp commented on #31
I didn't see it in the code, I saw it from testing.  I'll try to track down where the problem is.

[2012-06-22 17:35] matthewp commented on #31
I now realize that this might be a misunderstanding.  I was putting the prefix in my html but not in the xtag.register call, expecting it to enforce the x- prefix in the html.  I now realize that it works if you remove the prefix from the html.

[2012-06-22 17:35] #31 closed, assigned to nobody

[2012-06-22 17:37] csuwildcat commented on #31
Yeah, I remove that auto-prefixing mechanism, though I would still encourage you register your tags as "x-____" so as to avoid any future new HTML native tag compatibility issues.

[2012-06-22 23:35] csuwildcat commented on #23
DOMComponentsLoaded event is now being emitted on the document, see this commit: https://github.com/mozilla/x-tag/pull/37

You can now do your getter/setter actions on elements within DOMContentLoaded event blocks to ensure the elements are ready. I removed the :retain pseudo as this is cleaner and affords the same capability.

[2012-06-22 23:35] #23 closed, assigned to nobody

[2012-06-22 23:36] csuwildcat commented on #29
Just landed on master: https://github.com/mozilla/x-tag/pull/37

[2012-06-22 23:36] #29 closed, assigned to nobody

[2012-06-29 17:33] Pointy opened #38 "In Firefox 13.0.1 (Ubuntu Linux), "xtag.extendElement" is only called when "document.createElement" is called explicitly"
The x-tag examples page demonstrates that Linux Firefox does not seem to invoke the shimmed "createElement" function as HTML is parsed, either at page load time or when setting innerHTML.  Thus, the library can't do its thing. (The "register" mechanism etc. all seem fine.)

I suspect this is a platform issue.

[2012-06-29 17:36] csuwildcat commented on #38
I'll test it, I'm betting it is an issue with CSS Animations (using that for parse detection)

[2012-06-29 17:42] Pointy commented on #38
It's bug 765445 in the mozilla bugzilla database.

[2012-06-29 18:44] Pointy commented on #38
If I use 0.001s instead of 0.0001s as the animation delay, things seem to work.

[2012-07-01 17:08] kumar303 opened #39 "add hidden submenu flyout component"
Currently in HTML/CSS/JS is takes some boilerplate code to create a submenu that is hidden until you hover or click to activate. Is there a component already for this? If not, it would be a nice addition. The Action Bar looks similar but not quite the same.

Take this for example:

[code]

To set this up you have to do this kind of stuff:
- set up relative/absolute positioning between the menu ope

[2012-07-02 08:05] molnarg opened #40 "IE8 support"
Will there be IE8 support? Is it possible to support IE8 at all?

IE8 support would be critical because it is the last supported IE on Windows XP as fas as I know.

[2012-07-02 11:30] michaelkrog commented on #40
Hmm. Is it really Crucial?

According to global stat IE8 is at 13% worldwide and looses 0.5 - 1% each month. Windows XP users are 27.6% whichs shows that more than half the XP users around the world uses another browser than IE8 - maybe the other half should acknowledge that their OS is about to expire and the only thing they can could to prevent it right now is to install Google Chrome.

Consider

[2012-07-02 16:07] fwenzel commented on #40
"Hmm. Is it really Crucial?" I am with Michael on that. I don't think IE8 support is a great place to invest our resources. Mind you, I am not opposed to a solution that works for IE8 too, but if it was _officially supported_ that would mean we'd need to employ CSS tweaks etc to make the tags actually work _well_ in IE8. This is a considerable overhead for limited gain.

[2012-07-02 16:14] fwenzel commented on #39
I like the feature suggestion!

One question I have about the proposed syntax is, does it even make sense to have the outside ul/li pair? Would it perhaps make more sense to have inside tags (like `<x-submenu-trigger>` containing the thing you should click to open the submenu, and `<x-submenu-content>` holding the actual submenu content)?

[2012-07-02 17:04] kumar303 commented on #39
I defer to someone who has more experience building flyout submenus :) I think the key would be to not reinvent the wheel since ul/ol/li already provides a well supported base to work from. Maybe we can simply add data attributes or something.

[2012-07-02 18:30] csuwildcat commented on #40
Support for IE8 (and even IE6/7) is possible, but I do not want to pursue it in the production version of X-Tag. Making X-Tag work for older versions of IE requires the following:
- patch/polyfill all modern-browser DOM method used inside X-Tag (things like child/sibling references, querySelector, etc)
- polyfill or ditch all ES5 methods used inside X-Tag
- augment the keyframe style sheet detecti

[2012-07-02 19:32] #40 closed, assigned to nobody

[2012-07-02 19:33] csuwildcat commented on #38
I am updating the xtag.js today with the new timing value.

[2012-07-03 07:10] molnarg commented on #40
Well, we are building a business application and we are looking for a component system to work with. But we are forced to support IE8 because, as a I said, a lot of companies are still stuck with Windows XP, and on XP, the latest supported IE is IE8. But I agree that it is not critical if you target another market with your app.

Considering what @csuwldcat said, this is probably not worth investi

[2012-07-03 13:52] csuwildcat commented on #40
Oh btw, to add to the < IE9 cause, it should be noted that even jQuery 2.0 is dropping support for IE8 and below - I have a feeling this will make the transition away from legacy instantly do-able for the vast majority of developers ;)

[2012-07-05 19:41] ghost commented on #28
Taking this one

[2012-07-05 19:57] ghost commented on #28
Started indentation fixes, let me know if I am on the right track and I will complete the rest :: https://github.com/mozilla/x-tag/pull/42

[2012-07-05 20:32] yorickpeterse commented on #28
@ossreleasefeed I already addressed this in #30 so this might result in conflicts.

[2012-07-06 10:17] ghost commented on #28
@YorickPeterse thanks for the heads up

[2012-07-06 11:14] ghost commented on #28
Did not want to open a specific issue for this, perhaps one should but basically, how does one know which of the open issues are actively being worked on by someone and which one's are open for takers? Also, I might have missed it but, is there a document/wiki which states the goals and phases of the project?

[2012-07-06 16:49] csuwildcat commented on #28
I'd like to take a moment to address this question: "Also, I might have missed it but, is there a document/wiki which states the goals and phases of the project?"

Consider the following:

Since initial release, we have had 90% of our "contributions" center around the style and color choices of the demo pages, and the whitespacing choice for the code. Now I'm not going to say these items are worth

[2012-07-06 20:28] ghost commented on #28
@csuwldcat Thank you for the feedback. The second point you mentioned i.e. "Tag Creation: iOS and Android have a shit-ton of good elements/controls, we need a lot of them for the web, let's get to it." - It would be awesome if we had a shared spreadsheet or wiki page, on Github or the Mozilla wiki, that lists the tags/widgets that is envisioned, which have been completed, which are currently being

[2012-07-06 20:57] csuwildcat commented on #28
@ossreleasefeed to that end, we have an intern producing our take on this design guide for Android so we have something equivalent for Web/Firefox OS apps: http://developer.android.com/design/index.html

She just pinged me today to let me know she is almost finished compiling the list of components that we will need for the foundation of our app design/UI ecosystem. As soon as I have that list in

[2012-07-06 20:59] ghost commented on #28
@csuwldcat This is awesome, looking forward to it.

[2012-07-09 18:36] benbrittain opened #44 "flickering slide box"
When you toggle the Orientation on firefox the image flickers. This only happens when you are not on the first slide. The issue does not occur in chrome. I think it might have to do with the switching of the width/height.

[2012-07-09 21:37] kumar303 opened #46 "scrollable list view"
Android has a scrollable [list view](http://developer.android.com/guide/topics/ui/layout/listview.html) that lets an app screen expose a list of items. Here is an [example](http://www.mkyong.com/android/android-listview-example/). It is one of the most common views for Android apps. It would be nice to provide an xtag for this so that apps can render a list view without having to think about the s

[2012-07-10 16:17] niftynei opened #47 "Content overwrites all existing content for a tag"
Currently, setting the content property obliterates the current content for a given node.  Should give option to append instead of replace.

[2012-07-10 20:48] csuwildcat commented on #47
The reason we went with a content option is because that is what is found in the W3 spec. I don't really want to add more sugar to the API and object definition - as an example of why: what happens when Joe Blow comes in and wants the same thing, but to have elements prepended instead?

Needless to say there is still an easy way to accomplish what you want: just inject the default tag content in t

[2012-07-10 20:54] csuwildcat commented on #44
Yeah, we observed that in Firefox when we created it, not sure why the width/height setting has such a visually jarring change there. Can you investigate further and develop a fix?

[2012-07-10 22:10] niftynei commented on #47
Appending in onCreate is what I ended up doing.  Thanks for the hint :)

[2012-07-10 22:10] #47 closed, assigned to nobody

[2012-07-10 22:31] benbrittain commented on #44
Do you want me to find a different way to go about sliding, or would you rather I go to the root and solve the (I assume)firefox bug? (that would be intense)

I'll see what I can do, It might be a bit beyond me though.

[2012-07-10 22:38] csuwildcat commented on #44
I think it is a style setting oddity with Firefox, just try to tweak that section somehow and workaround it (I'd prefer not to have the code change dramatically, but go with whatever works)

[2012-07-11 04:03] csuwildcat commented on #38
@Pointy - The suggested fix - changing the animation duration to 0.001s - was pulled in a few days ago, can you double check to ensure it fixed the issue you were seeing?

[2012-07-14 03:01] dennismartensson commented on #44
I have committed a pull request for this

 https://github.com/csuwldcat/moz-x-tags/pull/7

[2012-07-14 14:42] dennismartensson commented on #39
Me and @cavedweller have committed a pull request for a dropdown element, https://github.com/csuwldcat/moz-x-tags/pull/4

[2012-07-19 22:35] jlongster opened #48 "support require.js"
Dan, can you work with James Burke and figure out the best way to provide x-tags as AMD modules that work with require.js?

Our app templates use require.js and we can't integrate x-tags until it works with it. I haven't talked to James yet (he's on PTO until tomorrow I think), but we need to start the conversation.

When used as a module, it seems like DOM nodes will be created before the library

[2012-07-20 22:14] jrburke commented on #48
I'm happy to help. I'm on a trip at the moment, but I will be back in full work mode next week.

First thought, not sure if it makes sense: maybe allow xtags.register() to do a scan of the dom for any tags that match that tag name, if xtags already detects domcontentloaded.

But I am still very new to the x-tags code, so that may not be an appropriate path.

[2012-07-20 22:22] jrburke commented on #48
I suppose that suggestion is only about async loaded tag implementations, there is still the matter of:
- how x-tags adapts to being loaded possibly after domcontentloaded
- if x-tags should register as an AMD module, maybe by using a pattern like [this one](https://github.com/umdjs/umd/blob/master/amdWebGlobal.js).

I can help with a pull request with some design guidance on what is wanted.

[2012-07-21 00:23] csuwildcat commented on #48
No actually the AMD require scheme shouldn't be an issue. The tags needn't be registered according to any racy time constraint. You could have a page sitting loaded for 5 minutes and load the tags and they would parse and augment themselves instantly. All we need, is to ensure the actual 2.4k core of X-Tag is loaded before any individual tag registry occurs.

[2012-07-23 22:41] niftynei opened #49 "Make a clearer link between x-tag library and x-tag tag registry"
It's unclear how the best way to create and share x-tags that you create.  Including a link to the x-tags-repo project would help.

[2012-07-24 19:09] niftynei commented on #49
Taken care of by #50.

[2012-07-24 19:09] #49 closed, assigned to nobody

[2012-07-24 23:20] jrburke commented on #48
OK great. So then the only thing that may be considered is if xtag would want to optionally call define() to export the xtag value. I did this pull request to show how that might be done, if that is of interest:

https://github.com/mozilla/x-tag/pull/51

I tested that in a sample AMD project and it works, the amd module that references require('x-tag') gets the local reference.

[2012-07-29 17:30] tristanz opened #53 "Why not use package.json and npm?"
Is there a reason why not to standardize on package.json instead of xtag.json?  I'm sure you've thought of this but reusing the NPM infrastructure seems like it would be a big win.

All it would require would be to add a custom xtag field.  This would give you all the great features of NPM (install, publish, upgrade, remove, etc) for free.  I understand that xtags are not Node specific, but levera

[2012-07-29 17:49] csuwildcat commented on #53
Because another program could already be using a package.json in their app,
and NPM is dreadful package search website in terms of features, discovery,
and full-text search capability (namely because such capability is
non-existent).

Additionally, we gain little from using NPM, as custom elements have zero
backend applicability, thus a command line is largely irrelevant. We have a
much easier "pa

[2012-07-29 17:56] #53 closed, assigned to nobody

[2012-07-29 17:56] tristanz commented on #53
That makes sense.  I'm eager to see the whole story gets fleshed out. xtags looks fantastic.

[2012-08-11 00:42] karthikv opened #54 "Core library not working on iPhone 4 (and perhaps other mobile devices)"
Receiving a "can't find variable: HTMLUnknownElement" error in the Safari debug console on iOS 5.0. I'm currently running commit https://github.com/mozilla/x-tag/commit/b1a2f6776a69f1bf6d42d0ce25912dc002601787 of x-tags. This error is still present even after the "added observe method, fixed event.target missing arg" https://github.com/mozilla/x-tag/commit/bbfce508870f19cc57fa0ad7acab856a5159ff28

[2012-08-11 00:52] csuwildcat commented on #54
Can you do me a favor and comment out the block in x-tag.js that does the
HTMLUnknownElement method wrap and see what happens without it?
On Aug 10, 2012 5:42 PM, "Karthik Viswanathan" notifications@github.com
wrote:

[2012-08-11 01:04] karthikv commented on #54
It works fine when the HTMLUnknownElement method wrap is commented out. Also, when I log the result of `document.createElement('unknown-element')`, I get `[object HTMLElement]` rather than `[object HTMLUnknownElement]`.

[2012-08-11 01:18] csuwildcat commented on #54
As I suspected, bummer. I'll need to figure out a work around for that,
until we have one you can just comment it out in your branch and continue
dev.

Important: the 'attribute' setter pseudo helper will not work with that
code commented out.
On Aug 10, 2012 6:04 PM, "Karthik Viswanathan" notifications@github.com
wrote:

[2012-08-12 05:34] geddski opened #55 "Double onInsert triggers"
`onInsert` is triggering twice for each element. See example: http://jsbin.com/ezivuw/31/edit
Tested in both Firefox and Chrome.

[2012-08-12 07:26] csuwildcat commented on #55
I'll take a look at this tomorrow to verify/debug, thank you for the report.
On Aug 11, 2012 10:34 PM, "Dave Geddes" notifications@github.com wrote:

[2012-08-12 17:34] fwenzel commented on #55
Tests! &lt;/captainobvious&gt;

[2012-08-14 17:53] zalun opened #56 "Add build step to bundle all x-tags and their CSS into one package"
It would be great if `x-tag.js` and `css` would be downloadable as 2 files, possibly run on every commit to master.
That would make it possible to add to jsFiddle's frameworks list.

[2012-08-14 20:06] geddski commented on #55
@fwenzel didn't write a test, just the example. I'll write a test later if I get time.

[2012-08-14 22:04] fwenzel commented on #55
@geddesign no sweat, my short comment was directed at @csuwldcat, gently nudging to ensure we have tests for the correct behavior of the x-tags core (and probably even the individual tags).

[2012-08-15 00:11] csuwildcat commented on #55
This should now be fixed with this commit: https://github.com/mozilla/x-tag/commit/a73804fc79bea713102eb168f0f1140342fdf850

@geddesign if you can test the new version of x-tag.js and confirm, I'd be much obliged ;)

[2012-08-15 04:59] geddski commented on #55
fixed! Nicely done.

http://jsbin.com/ezivuw/46/edit

[2012-08-15 04:59] #55 closed, assigned to nobody

[2012-08-15 05:02] csuwildcat commented on #54
Please update your copy of the base js and test this, I believe it is fixed.

[2012-08-15 05:04] csuwildcat commented on #38
Closing this out as we no longer use this detection method

[2012-08-15 05:04] #38 closed, assigned to nobody

[2012-08-16 00:20] karthikv commented on #54
Yep, it's working for me! Closing the issue.

[2012-08-16 00:20] #54 closed, assigned to nobody

[2012-08-16 13:49] csuwildcat opened #57 "Consider iOS lte 4 deprecation to add getOwnPropertyDescriptor"
iOS 5.0+ is reaching a high degree of distribution saturation and brings with it some very interesting advances in the browser. One of these is the ability to retrieve getter/setter descriptor objects for native element properties like innerHTML. This could simplify our code and provide great perf wins if we can wrap and reapply some of the native getters and setters.

Investigate viability and re

[2012-08-22 19:11] jlongster opened #61 "elements submodule reference is broken"
The "elements" repo reference is broken. If you try to clone recursively or do any submodule operations, you get:

No submodule mapping found in .gitmodules for path 'elements'

[2012-08-22 19:12] jlongster commented on #61
Seems like .gitmodules needs to be committed.

[2012-08-23 15:37] daviddahl opened #62 "Create comprehensive test suite"
I was just looking through the code and do not see a test suite. All Mozilla code needs to have a test suite, especially if this code is being used in production. Also, multiple reviewers should go over this code, but perhaps not until there is a test suite.

[2012-08-23 21:35] seanmonstar opened #63 "Twitter button spies on users"
It's possible to allow a tweet button that forwards to Twitter, without pulling in the Twitter javascript from `platform.twitter.com`. Twitter knowingly tracks users with their widgets. Boo.

[2012-08-23 21:50] csuwildcat commented on #63
You're in luck, just the other day we decided to accept pull requests!
Tw(f)ix that shizzle!

On Thu, Aug 23, 2012 at 2:35 PM, Sean McArthur notifications@github.comwrote:

[2012-08-23 22:28] fwenzel commented on #63
Where's the code for x-tags.org?

[2012-08-27 14:11] zalun commented on #61
Is there a different way to install x-tags locally?

[2012-08-27 14:31] csuwildcat commented on #61
We're about to remove the "elements" submodule from x-tag main repo,
perhaps download this: https://github.com/mozilla/xtag-elements ?

On Mon, Aug 27, 2012 at 7:11 AM, Piotr Zalewa notifications@github.comwrote:

[2012-08-29 21:56] fwenzel commented on #63
Moved to xtags-org issue 1: https://github.com/mozilla/xtags-org/issues/1

[2012-08-29 21:56] #63 closed, assigned to nobody

[2012-08-29 22:28] fwenzel commented on #2
@pennyfx is the gh-pages branch still in use?

[2012-08-29 22:29] fwenzel commented on #48
Is this issue fixed?

[2012-08-29 22:34] fwenzel commented on #62
Do we know what Gaia uses to test their components? I am open to many options, but perhaps not deviating from their test suite would be beneficial.

[2012-08-29 22:34] fwenzel commented on #62
@autonome can you advise?

[2012-08-29 22:35] fwenzel commented on #62
(I realize x-tags[the library] is different from the UI components, but they could still be tested with the same test runner).

[2012-08-29 22:37] pennyfx commented on #48
Yes, it was added last week if I recall correctly.

[2012-08-29 22:37] #48 closed, assigned to nobody

[2012-08-29 22:39] pennyfx commented on #2
It's essentially a redirect for all the original links sent out to the blogosphere.

[2012-08-29 22:40] pennyfx commented on #28
Spaces have won.  You can put away your pitch forks.

[2012-08-29 22:40] #28 closed, assigned to nobody

[2012-08-29 22:44] pennyfx commented on #39
Closing.  This was resolved over at x-tag-elements.

[2012-08-29 22:44] #39 closed, assigned to nobody

[2012-08-29 22:45] pennyfx commented on #44
Closing, resolved at csuwldcat/moz-x-tags/

[2012-08-29 22:45] #44 closed, assigned to nobody

[2012-08-29 22:46] pennyfx commented on #46
Implemented

[2012-08-29 22:46] #46 closed, assigned to nobody

[2012-08-29 22:49] pennyfx commented on #61
Elements reference has been removed.  See mozilla/x-tag-elements

[2012-08-29 22:49] #61 closed, assigned to nobody

[2012-08-30 00:11] fwenzel commented on #28
lol

/me puts away his pitch fork

[2012-08-30 02:40] autonome commented on #62
@lightsofapollo yo, can you link the Gaia test frameworks here?

[2012-08-30 03:16] lightsofapollo commented on #62
We use a combination of https://github.com/visionmedia/mocha + http://chaijs.com/

Full details here: https://developer.mozilla.org/en-US/docs/Mozilla/Boot_to_Gecko/Gaia_Unit_Tests

We have some special extensions for running tests across multiple domains with extra niceties like reporting browser tests results to a console, auto-running tests, and more through https://github.com/lightsofapollo/js

[2012-09-12 06:28] kaladron opened #64 "README.md file has a pasto in git clone"
If you're interested in exploring the tags we've already created, check out our x-tag-elements repository.

[code]

should read "x-tag-elements" at the end of the git clone line.

[2012-09-13 22:42] fwenzel commented on #64
@pennyfx you fixed this, right? Will you close this Issue if that's true?

[2012-09-13 23:02] fwenzel commented on #2
That's fixed then. I just didn't want to duplicate the library code on both sides.

[2012-09-13 23:02] #2 closed, assigned to nobody

[2012-09-20 22:31] jlubean opened #65 "Setter causes recursion error"
The following code causes a "too much recursion" error in Firefox and a "RangeError: Maximum call stack size exceeded" error in Chrome:

[code]

[2012-09-20 22:50] pennyfx commented on #65
Yes, it is because you're calling your setter inside of the setter.     If you are trying to save the passed value then you need to explicitly save it somewhere.  For example, use a data attribute `this.dataset.myValue = value`.

[2012-09-20 22:50] #65 closed, assigned to nobody

[2012-09-20 22:55] jlubean opened #66 "Need to modify your setters example on x-tag.org. It causes a recursion error"
On x-tag.org, the setters example will cause a recursion error:

[code]

You should probably change it to this:

[code]

[2012-09-20 22:56] jlubean commented on #65
On x-tag.org, the setters example will cause a recursion error.  I added issue 66.

[2012-09-21 20:18] pennyfx commented on #66
Thanks for the heads up.  Fixed.

[2012-09-21 20:18] #66 closed, assigned to nobody

[2012-09-21 20:18] pennyfx commented on #64
Fixed

[2012-09-21 20:18] #64 closed, assigned to pennyfx

[2012-09-21 20:27] pennyfx commented on #62
We chose to use jasmine for the time being.  Mocha looks cool and has a similar test interface, so we may move to that if we need more functionality in the future.

[2012-09-25 16:25] jlubean opened #71 "Get x-tag to work with RequireJS"
I would like to be able to use x-tag with RequireJS (http://requirejs.org/) where x-tag would be loaded asynchronously by RequireJS.

When I try to use x-tag this way, I find that the onCreate and onInsert registered functions **never** get invoked when I set the innerHTML of a container tag with the registered tag:

[code]

If I then set a value on the tag, the registered setter function **never*

[2012-09-25 16:31] geddski commented on #71
+1 this is a deal-breaker for everyone using async loading.

[2012-09-25 16:54] csuwildcat commented on #71
The issue is that the tags are recognized by their inflation in the DOM. Setting innerHTML will work, if you do it in the DOM. Outside the DOM, there is not a sane way of detecting innerHTML inflation (you can get the native setter and wrap that in Firefox but other browsers like Safari (iPhone/Desktop) don't support it).

There are two options:
1. offer an element method called "inflateElements"

[2012-09-25 20:46] pennyfx commented on #71
@jlubean I think the real issue here is that you are loading it async and 'DOMContentLoaded' has already fired.  Previously, X-Tag depended on that event to initialize itself. However, I added a patch the other day that addressed this issue.   Here https://github.com/mozilla/x-tag/commit/7c571cafcd68c928f1ce21125b47d7dabde876fe

Can you verify that you have latest from master?

[2012-09-25 21:01] jlubean commented on #71
I verified that I have the latest x-tag.js from master and that the example code I provided above still produces the same results.  The RequireJS library ensures that the x-tag.js file is loaded/executed prior to executing my anonymous callback that invokes xtag.register()

[2012-09-25 22:18] pennyfx commented on #71
@jlubean Get latest.  I just added a few tests for AMD and found that we needed to check for readyState == 'interactive' when initializing the library.  Everything should work now.

[2012-09-25 22:30] jlubean commented on #71
@pennyfx Everything worked except for the setter function was not invoked on the mytag after it was added by setting innerHTML:

[code]

The onCreate and onInsert functions were invoked, but the "myValue" setter function was not invoked.

[2012-09-25 22:35] geddski commented on #71
getting closer...

[2012-09-25 23:24] #57 closed, assigned to nobody

[2012-09-26 15:40] pennyfx commented on #71
@jlubean We added a new method called xtag.innerHTML(elem, html) to work around this issue.

The problem is that we are using element observers to detect changes in the DOM and these observers run in a 'microtask' which are asynchronous.  This means that when you set innerHTML it takes a short amount of time for the observer to report the changes back to x-tag and allow x-tag to inflate your newly

[2012-09-26 16:17] jlubean commented on #71
@pennyfx Nice work-around.  I noticed that the latest code now causes the onInsert function to be invoked twice when elem.innerHTML is set directly or when the xtag.innerHTML() function is used.

[2012-09-26 21:32] pennyfx commented on #71
@jsocol Ok, we fixed the bug that was causing onInsert to be called twice.

[2012-09-26 21:33] jsocol commented on #71
ITYM @jlubean FTFY. But good! :+1:

[2012-09-26 21:54] jlubean commented on #71
@pennyfx I verified that it works.  Thanks for the quick response/turnaround!  You rock!

[2012-09-26 21:54] #71 closed, assigned to nobody

[2012-10-30 11:14] avaly opened #73 "Multiple elements defined with shorthand in the same parent don't fire onInsert"
It seems that `if (doc.documentElement.contains(element)){` in the `nodeInserted` function returns false for elements within the same parent if they are defined with the `/>` shorthand.

Only the first button will be fired an onInsert event, while the second button won't have it fired.

[code]

Reproducible in Firefox 16 & Chrome 22, but not on IE 9, on Windows 7.

These cases work as expected:

[

[2012-10-30 13:35] csuwildcat commented on #73
The DOM API contains() is a standard browser method, not something we
added. If this is an issue with its operation, it would be either a bug in
Firefox or the spec for the standard.

What I believe is happening though, is that while the browser may render
your self-closed custom tag, the contains() API does not account for them
because non-native self-closing tags aren't valid HTML (to my knowled

[2012-10-31 15:11] avaly commented on #73
You are right, the self-closing tags aren't valid HTML tags and that's why the DOM API behaves this way.

Would be a good idea, to make this note in the documentation, so others don't fall down this path.

[2012-11-02 20:34] #73 closed, assigned to nobody

[2012-11-02 20:35] #62 closed, assigned to nobody

[2012-12-12 19:40] pennyfx opened #74 "Attribute selector bug"
Events seem to fail if you don't pass an attribute to use in the attribute pseudo.

[code]

[2012-12-12 19:41] pennyfx commented on #74
Fixed.  https://github.com/mozilla/x-tag/commit/c18bf911aba75f816e82c4ab4606a68a923fc552

[2012-12-12 19:41] #74 closed, assigned to nobody

[2013-02-07 23:04] bhazzard opened #81 "Different from Spec"
Functionality-wise, this is really cool. But, it seems significantly different from the Web Components custom element spec defined at https://dvcs.w3.org/hg/webcomponents/raw-file/tip/explainer/index.html.

Am I misunderstanding something?

[2013-02-07 23:06] bhazzard opened #82 "Support for Decorators?"
As I understand it, this is intended to implement just custom elements. But, it seems like decorators are actually the more powerful feature of the Web Components spec. I say this because they allow for Plain-Old-Semantic-HTML (POSH), but also rich user interfaces. It's like best of both worlds.

Any plans to implement decorators?

[2013-02-07 23:27] csuwildcat commented on #81
This is X-Tag, the higher-level lib that sits on top of the
document.register, the polyfill for the spec'd document.register interface
is at github.com/mozilla/web-components - X-Tag relies upon it.
- Daniel
  On Feb 7, 2013 3:04 PM, "Brian Hazzard" notifications@github.com wrote:

[2013-02-07 23:28] csuwildcat commented on #81
This is also old code for X-Tag, it is now located at github.com/x-tag the lib is under the 'core' repo.

[2013-02-07 23:29] csuwildcat commented on #82
It may be possible, and we would certainly accept pull requests ;)

[2013-06-20 19:16] #81 closed, assigned to nobody

[2013-06-20 19:17] #82 closed, assigned to nobody

[2013-06-20 19:18] pennyfx commented on #56
They are now located in ./dist/ directory.

[2013-06-20 19:18] #56 closed, assigned to pennyfx

[2013-06-20 19:19] pennyfx commented on #27
It's now supported with the switch to use Polymer's Custom Element polyfills.

[2013-06-20 19:19] #27 closed, assigned to nobody

[2013-09-27 04:00] smcmurray opened #83 "Each component needs its own DOMComponentLoaded event"
From within my DOMComponentsLoaded event handler, the methods of my component are still undefined.

[2013-09-27 04:02] csuwildcat commented on #83
Can you post a simplified test case?

[2013-09-27 05:17] smcmurray commented on #83
As explained by @csuwldcat, the DOMComponentsLoaded event fires once per scope. It will only be fired for things that are in the document as loaded. Adding X-tag to the document after load (through an AMD loader, for instance) will mean that would-be web components that rely on X-tag for their registration will be registered too late for the DOMComponentsLoaded event.

That leaves them caught out.

[2014-01-13 22:30] #83 closed, assigned to nobody

[2014-01-24 03:29] netaisllc opened #84 "http://x-tags.org/ needs love"
Response = 404.
:(

[2014-01-24 18:56] #84 closed, assigned to nobody

[2014-02-06 20:22] BigBlueHat opened #85 "www.x-tag.org returns a 404"
Was showing x-tag to a friend and got a 404 when I hit the web site.

Thanks.

[2014-02-06 20:24] BigBlueHat commented on #85
Sorry. Found the web site repo. Re-filing this there.

[2014-02-06 20:24] #85 closed, assigned to nobody

[2014-06-08 07:11] brettz9 commented on #29
Since you are using "WebComponentsReady" to detect when to fire the event anyways, why not just have the user check for this event since it is an event at least also recognized by Polymer [unlike DOMComponentsLoaded](https://github.com/Polymer/CustomElements/search?q=DOMComponentsLoaded&type=Code)? (and apparently discussed as a candidate for standardization at least at http://lists.w3.org/Archive

[2014-07-11 16:36] kaleb opened #86 "Broken link to brick project"
This is actually a bug for the x-tags website, but i was unsure where to file it.

On the x-tags.org there is a link called Brick with the href of http://mozilla.github.io/brick/ which is broken. This website returns a 404 and the corresponding github repo is non-existent.

[2014-07-11 16:43] tofumatt commented on #86
I opened a pull request; the x-tags site is in https://github.com/x-tag/x-tags-org/. Sorry for the confusion. Thanks for catching this!

[2014-07-11 16:44] #86 closed, assigned to nobody

[2018-05-23 00:27] ghost opened #88 "A V2 component documentation schema page"
It might be feasible for V2 to get more contribution time if you create a Schema Component Documentation page, it could be just a list of V2 component projects and there docs in an "components.html" file that people can browse through.

It might be neat to start a V2 science component contest or a V2 ui/ux component contest, its just a thought that went through my head to get some these updated.

[2018-05-29 15:13] ghost commented on #88
SUPER `<XS:ELEMENT NAME="X-TAG">` SCHEMA SIMPLEX FOR DOCS
[code]

[2018-05-29 15:14] ghost commented on #88
It's a WIP

:)

[2018-06-02 09:44] csuwildcat commented on #88
Do you think we could use an established code comment type doc mechanism that we generate docs from with a build step?

[2018-06-02 15:41] ghost commented on #88
I think their is a project 'jade' or something.

[2018-06-02 15:52] ghost commented on #88
http://usejsdoc.org/ -- Been around
http://www.sphinx-doc.org/en/stable/ -- Python Based

I think the most important part is putting the commenting system measures in the V2 docs or on the stub component generator. So people know what doc generator x-tag uses.